# Ignore node_modules in client directory
client/node_modules/
server/node_modules/

# Ignore Next.js build output
client/.next/

#Ignore .env file
server/.env/

# Ignore package-lock.json
server/package-lock.json/
client/package-lock.json/